.reward
  -case reward.quality_type
    -when 'item', 'currency', 'status'
      -if reward.number_increased && reward.quality
        You gained
        - if reward.number_increased > 0 then "gained" else "lost" end
        = reward.number_increased
        of
        = reward.name
        = image_tag link_fu reward.image, 'small'
        .big.level=get_my_quality(reward.quality_id).level
        - if reward.quality_type == 'status'
          .exp_bar= combo_progress_bar(status_progress_and_gained(reward), rounded: true, tiny: true)
      -else
        There has been a problem.  Apologies.

    -when 'event'
      You are now at stage
      = reward.number_increased
      of
      = reward.name
      .big.level=get_my_quality(reward.quality_id).level
      = image_tag link_fu reward.image, 'small'
    -when 'cooldown'
      You have a cooldown of
      = reward.quality.time_limit
      minutes.
    - else
      You gained
      = experience_earned(reward)
      experience with
      = reward.name
      .level.big= get_my_quality(reward.quality_id).level
      = image_tag link_fu reward.image, 'small'
      .exp_bar= combo_progress_bar(percent_completed_and_gained(reward), rounded: true, tiny: true)

%br