%h1 Listing users

%table
  %tr
    %th Name
    %th Email
    %th Energy
    %th Favor
    %th Last energy tick
    %th Universe
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.energy if user.energy
      %td= user.favor if user.favor
      %td= user.last_energy_tick if user.last_energy_tick
      %td= link_to user.universe.name, user.universe if user.universe
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user) if can? :update, user
      %td= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete if can? :delete, user

%br

= link_to 'New User', new_user_path if can? :create, User
