%p#notice= notice

%p
  %b Name:
  = @user.name

%p
  %b Email:
  = @user.email

%p
  %b Energy:
  = @user.energy
-#
-#%p
-#  = @user.last_energy_tick

-#%p
-#  %b Universe:
-#  = @user.universe.name if @user.universe





-#= image_tag link_fu(@user.image)

= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
