%h1 Listing qualities

= link_to 'New Quality', new_quality_path

= simple_form_for @search do |f|
  .field
    .unit
      =f.label :name_contains
      =f.text_field :name_contains, default: " "
    .unit
      =f.label :quality_type_contains
      =f.text_field :quality_type_contains, default: " "
    .unit
      =f.label :image_name_contains
      =f.text_field :image_name_contains
  .clear
  =f.submit "Search"

.clear
Sort by
= sort_link @search, :name
\|
= sort_link @search, :quality_type
\|
= sort_link @search, :image_name


%table
  %tr
    %th Name
    %th Description
    %th Storylet
    %th Type
    %th Image?
    %th
    %th
    %th

  - @qualities.each do |quality|
    %tr
      %td= quality.name
      %td= quality.description[0, 20] + "..." if quality.description
      %td= quality.storylet.title if quality.storylet
      %td= quality.quality_type
      %td= if quality.image then "yes" else "no" end
      %td= link_to 'Show', quality
      %td= link_to 'Edit', edit_quality_path(quality)
      %td= link_to 'Destroy', quality, :confirm => 'Are you sure?', :method => :delete

%br

