%p#notice= notice

%p
  %b Name:
  = @universe.name
%p
  %b Focus:
  = @universe.focus
-#%p
  %b God:
  = link_to @universe.god.name, god_path(@universe.god_id)
%p
  %b Description:
  = @universe.description

= link_to 'Edit', edit_universe_path(@universe)
\|
= link_to 'Back', universes_path
