- text.split(">").each do |line|
  - before, between= line.split("<")
  = before
  -if between
    -case between.first()
    -when 'i'
      %i= between[2..-1]
    -when 'b'
      %b= between[2..-1]
    -when 'u'
      %u= between[2..-1]
    -when 'n'
      = current_user.name
    -when 'r'
      = eval(between[2..-1])
    -#-when 'R'         #how do I make it save variables between commands?
      - commands = between[2..-1].split("$$")
      - variables = {}
      - for i in (0..commands.length-1)
        -this_command = commands[i]
        -if this_command  =~ /.*=.*/
          - variable, command = commands[i].split("=")
          - variables[variable] = eval(command)
        -else
          = eval(this_command + "(" + hash_to_string(variables) + ")")