%h4 Next Storylet
.field
  = f.input :next_id, collection: Storylet.all
  .boolean_field
    = f.label :on_success
    = f.check_box :on_success, checked: true
  .boolean_field
    = f.label :on_failure
    = f.check_box :on_failure
.field= f.link_to_remove "Get rid of this linkage"