-if requirements(storylet.id)[1]

-elsif requirements(storylet.id)[0] == ''
  %a(href="/storylets/#{storylet.id}/action")
    -if storylet.special
      .storylet.special
        = render 'storylets/preview_contents', storylet: storylet, open: true
    -else
      .storylet
        = render 'storylets/preview_contents', storylet: storylet, open: true

-else
  -if storylet.special
    .storylet.unavailable.special
      = render 'storylets/preview_contents', storylet: storylet, open: false
  -else
    .storylet.unavailable
      = render 'storylets/preview_contents', storylet: storylet, open: false