%h1 Listing storylets

= link_to 'New Storylet', new_storylet_path

= simple_form_for @search do |f|
  .field
    .unit
      =f.label :title_contains
      =f.text_field :title_contains, default: " "
    .unit
      =f.label :challenge_level_gte
      =f.text_field :challenge_level_gte, default: 0
    .unit
      =f.label :cooloff_time_gte
      =f.text_field :cooloff_time_gte, default: 0
  .clear
  =f.submit "Search"

.clear
Sort by
= sort_link @search, :title
\|
= sort_link @search, :challenge_level
\|
= sort_link @search, :cooloff_time

%table
  %tr
    %th Title
    %th Success text
    %th God
    %th Level
    %th Cooloff time
    %th Next
    %th Prev.
    %th images?
    %th
    %th
    %th

  - @storylets.each do |storylet|
    %tr
      %td= link_to storylet.title, storylet
      %td= storylet.success_text[0, 15]
      %td= storylet.god.name[0,5] if storylet.god
      %td= storylet.challenge_level
      %td= storylet.cooloff_time
      %td= storylet.next_storylets.count
      %td= storylet.previous_storylets.count
      %td= if storylet.preview_image and storylet.success_image then "yes" else "no" end
      %td= link_to 'Show', storylet
      %td= link_to 'Edit', edit_storylet_path(storylet)
      %td= link_to 'Destroy', storylet, :confirm => 'Are you sure?', :method => :delete

%br

