%h1 Listing player_logs

= link_to 'New Player log', new_player_log_path

= form_for @search do |f|
  .field
    .unit
      =f.label :user_name_contains
      =f.text_field :user_name_contains
    .unit
      =f.label :user_email_contains
      =f.text_field :user_email_contains
    =f.hidden_field :created_at_less_than, :include_blank => true, value: 1.second.ago
    .unit
      =f.label :storylet_title_contains
      =f.text_field :storylet_title_contains
  .clear
  =f.submit "Search"


Sort by
= sort_link @search, :user_name
\|
= sort_link @search, :user_email
\|
= sort_link @search, :created_at
\|
= sort_link @search, :storylet_title

%table
  %tr
    %th User
    %th Storylet
    %th Time
    %th Success?
    %th
    %th

  - @player_logs.each do |player_log|
    %tr
      %td= link_to player_log.name, user_path(player_log.user_id) if player_log.user
      %td= link_to player_log.title, storylet_path(player_log.storylet_id) if player_log.storylet
      %td= player_log.created_at
      %td= player_log.success
      %td= link_to 'Show', player_log
      %td= link_to 'Destroy', player_log, :confirm => 'Are you sure?', :method => :delete if can? :destroy, player_log

%br
