%p#notice= notice

%p
  %b User:
  = @player_log.name if @player_log.user
%p
  %b Storylet:
  = @player_log.title if @player_log.storylet

%p
  %b Time done:
  = @player_log.created_at
  %br

%p
  This action was taken
  = ((1.second.ago - @player_log.created_at)/60).round(1)
  minutes ago.

= link_to 'Edit', edit_player_log_path(@player_log)
\|
= link_to 'Back', player_logs_path
