Important things you've done lately:

.clear
- @special_player_logs.each do |log, storylet = log.storylet|
  .special_log_preview
    .title= link_to log.title, "/storylet_show/#{log.id}"
    = link_to (image_tag link_fu storylet.preview_image), "/storylet_show/#{log.id}"
    = log.created_at
    = log.success