%nav.round
  %ul
    %li.big= link_to "qualities", qualities_path
    %li.big= link_to "storylets", storylets_path
    %li.big= link_to "links", links_path
    %li.big= link_to "images", images_path
    %li.big= link_to "requirements", requirements_path
    %li.big= link_to "unfinished", '/unfinished_business'
  %ul
    %li.big= link_to "+quality", new_quality_path
    %li.big= link_to "+storylet", new_storylet_path
    %li.big= link_to "+link", new_link_path
    %li.big=link_to "+image", new_image_path
    %li.big= link_to "rewards", rewards_path
    %li.big= link_to "my qualities", my_qualities_path
    %li.big= link_to "player logs", player_logs_path
