#sidebar
  -if current_user && (current_user.player? || current_user.admin?)
    Hello,
    = link_to current_user.name, user_path(current_user)
    %br
    = link_to "Sign out", '/signout'
    %br

    Energy:
    = current_user.energy || max_energy
    = '/'
    = max_energy
    %br
    -if current_user.last_energy_tick && minutes_since_last_tick <= time_between_ticks
      = pluralize((-1)*minutes_since_last_tick + time_between_ticks + 1, 'minute')
      till your next energy
    -elsif current_user.last_energy_tick
      = owed_energy
      more energy when you play your next storylet.
    %br
    Currency:
    = currency.level || 0
    %br
    Favor:
    = favor.level if favor
    %br
    -#= link_to (render 'my_qualities/sidebar_god', my_quality: current_user.my_qualities.joins(:quality).where('quality_type == ?', 'god').last),'/my_gods'
    = link_to "My stats", '/show_my_qualities'
    %br
    = link_to "Play!", "/storylets/#{last_log.storylet_id}/#{last_log_status}/#{log_code}" if last_log.storylet_id
    %br
    Previous storylets:
    - last_few_logs.each do |log|
      = render 'player_logs/previous_storylet_preview', storylet: log.storylet

  -else
    %h2 welcome!
    .button
      =link_to "New Adventure", new_user_path
    %br
    .button
      =link_to "Sign in", new_user_session_path