#sidebar
  -if user_signed_in?
    Hello
    = link_to current_user.name, current_user
    = ". Not you?"
    = link_to "Sign out", destroy_user_session_path, :method => :delete
    %br

    Energy:
    = current_user.energy || max_energy
    = '/'
    = max_energy
    %br
    -if current_user.last_energy_tick && minutes_since_last_tick <= time_between_ticks
      = pluralize((-1)*minutes_since_last_tick + time_between_ticks + 1, 'minute')
      till your next energy
    -elsif current_user.last_energy_tick
      = owed_energy
      more energy when you play your next storylet.
    %br

    Currency:
    = currency.level || 0
    %br
    Favor:
    = favor.level if favor
    %br

    = link_to (render 'my_qualities/sidebar_god', my_quality: my_gods),'/my_gods'

    = link_to "My stats", '/show_my_qualities'
    %br
    = link_to "Important Events", '/special_storylets'
    = link_to "Play!", "/storylets/#{last_log.storylet_id}/#{last_log_status}/#{log_code}" if last_log
    %br
    Travel:
    - if last_log && last_log.storylet.travelable_from && get_my_quality('can travel in teragon')
      =link_to "Teragon", controller: "storylets", action: "travel", id: Storylet.find_by_title('Travel the Teragon Capital').id
    - else
      Teragon
    Previous storylets:
    - last_few_logs.each do |log|
      = render 'player_logs/previous_storylet_preview', storylet: log.storylet

  -else
    %h2 welcome!
    .button
      =link_to "New Adventure", new_user_registration_path
    %br
    .button
      =link_to "Sign in", new_user_session_path